<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12491095123-qp410bmnjfi8chn2gabfdb7bbjqsvrfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12491095123-qp410bmnjfi8chn2gabfdb7bbjqsvrfm</string>
	<key>API_KEY</key>
	<string>AIzaSyDunW_mP--MT2_-6ZKnyuSbQ689wZRclLg</string>
	<key>GCM_SENDER_ID</key>
	<string>12491095123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jhstudio.TodoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-71ca7</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-71ca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12491095123:ios:c1005a64c8e19ef7ce1aa6</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-71ca7.firebaseio.com</string>
</dict>
</plist>